.titleCopy {
font-family: 'Roboto Slab', serif;
font-weight: 700;
color: #000000;
font-size: 32px;
}

.bodyCopy {
font-family: 'Indie Flower', cursive;
color: red;
font-size: 16px;
padding-top: 10px;

}